*.txt
*.gexf
*.csv
*.tsv
*.err
*.pyc
*.bed
*.h5ad
*.seq
*.pos
*.temp
*.find.tmp
/data/*
library/
local/
cellar/
lock/
python/
sandbox/
staging/
.RData
.Rhistory
.vscode/*
renv.lock
renv/*
grep
*.rds
/.idea/*
*.pdf