*.txt
*.gexf
*.csv
*.tsv
*.err
*.pyc
*.bed
*.h5ad
*.seq
*.pos
*.temp
*.find.tmp
/data/*
library/
local/
cellar/
lock/
python/
sandbox/
staging/
.RData
.Rhistory
.vscode/*
renv.lock
renv/*
grep
*.rds
/.idea/*
*.pdf
*.out
*png
BASH_LINGER/LOGS/
STATISTICAL_ANALYSIS/INPUT
STATISTICAL_ANALYSIS/OUTPUT
BASH_LINGER/grn_analysis_tools/
BASH_LINGER/helper_functions_old.py